<!DOCTYPE html>
<html lang = "en"> 
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta charset = "utf-8">     
     <title>Backend Challenges | Free Code Camp</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>   
   <body>
      <div class="container">
        <header>API Basejump: <em>Timestamp Microservice</em></header><br>
        <aside></aside>
        <article>
        <p>User stories:</p>
          <p class="user">1) I can pass a string as a parameter and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016). <br> 2) If it does, it returns both the Unix timestamp and the natural language form of that date. <br> 3) If it does not contain a date or Unix timestamp, it returns null for those properties.</p>
        </article>
          <footer>
          <p class="example">
            Example usage:
          </p>
            <p><mark>https://jagged-chicory.glitch.me/December%2015,%202015</mark></p>
            <p><mark>https://jagged-chicory.glitch.me/1450137600</mark></p>
          <p class="example">
            Example output:
          </p>
          <p><mark>
            { "unix": 1450137600, "natural": "December 15, 2015" }</mark>
          </p>
            </footer>
      </div>
   </body>
</html>

