/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
  font-size: 2vmin;
	color: #222;
	background-color: white;
	text-align: center;
}

.container {
  position: relative;
  height: auto;
  width: auto;
	padding: 0;
	margin-top: 2%;
  margin-left: 20%;
}

header {
  line-height: 30px;
  font-size: 37px;
  font-size: 4vmin;
  margin-left: 0;
  text-align: left;
}

article {
  line-height: 20px;
  margin-top: -10px;
  padding-left: 20px;
  text-align: left;
  margin-left: 0;
  border-left: 5px solid lightgray;
}

article p:nth-child(1) {
  padding-top: 10px;
}

.user {
  margin-left: 45px;
  line-height: 30px;
}

footer {
  position: relative;
  margin-left: 0;
  text-align: left;
  height: 200px;
}

mark {
  background-color: #fce9e9;
  color: red;
}

footer p {
  font-size: 14px;
  font-size: 1.75vmin;
  line-height: 20px;
}

.example {
  font-size: 26px;
  font-size: 3.5vmin;
  background-color: white;
  color: black;
}
