/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: #222;
	background-color: white;
	text-align: center;
}

.container {
	padding: 0;
	margin-top: 20px;
  height: 260px;
}

header {

  line-height: 30px;
  font-size: 37px;
  margin-left: 275px;
  text-align: left;
}

/*aside {
  margin-left: 275px;
  position: absolute;
  height: 170px;
  width: 1px;
  background-color: lightgrey;
  border: 2px solid lightgrey;
}*/

article {
  line-height: 20px;
  margin-top: -10px;
  padding-left: 20px;
  text-align: left;
  margin-left: 275px;
  border-left: 5px solid lightgrey;
}

article p:nth-child(1) {
  padding-top: 10px;
}

.user {
  margin-left: 45px;
  line-height: 30px;
}

footer {
  position: absolute;
  margin-left: 275px;
  text-align: left;
  height: 200px;
}

footer p {
  font-size: 14px;
  background-color: #fce8e8;
  color: red;
  line-height: 12px;
}

.example {
  font-size: 26px;
  background-color: white;
  color: black;
}

#http {
  width: 325px;
}

#unix {
  width: 333px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}